.form-actions {
  width: 100%;
  left: 0;
  border-top: 1px solid #f0f0f0;
}

.ant-upload,
.ant-upload-list-item-container {
  width: 100% !important;
  height: 250px !important;
}

.ant-btn-primary {
  background-color: #1677ff;
}

.ant-btn-primary:hover {
  background-color: rgba(22, 119, 255, 0.8);
}

.ant-btn-danger {
  background-color: #ff2c2c;
  color: #ffffff;
}

.ant-btn-danger:hover {
  background-color: #f94449;
}

.ant-pagination-options {
  position: absolute;
  left: 0;
}

.ant-pagination-options::before {
  content: 'Pozycji na stronie';
  color: #b1cade;
  font-size: 12px;
  margin-right: 10px;
}

.ant-layout-sider {
  position: fixed !important;
  height: 100vh;
  overflow: auto;
}

.ant-form-item {
  margin-bottom: 8px !important;
}

.ant-form-item-label label {
  font-size: 12px !important;
  color: #b1cade !important;
}

.ant-table-cell {
  text-align: center !important;
}

@media only screen and (min-width: 640px) {
  .form-actions {
    width: calc(100% - 200px);
    left: 200px;
  }

  .ant-layout-content {
    margin-left: 200px;
  }
}
